.can-edit-table {
	.can-edit-table-header {
		padding: 12px 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.ivu-table-wrapper {
		overflow: inherit;
	}
}